.login-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f9;
}

.login-card {
  width: 350px;
  padding: 25px 30px;
  text-align: center;
}

.full-width {
  width: 100%;
}

.register-line {
  margin-top: 12px;
  text-align: center;
}
