.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef2f7;
}

.login-card {
  width: 380px;
  padding: 30px 30px 40px 30px;
  text-align: center;
  border-radius: 12px;
}

.title {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 600;
}

.subtitle {
  margin-bottom: 25px;
  color: #555;
}

.full-width {
  width: 100%;
}

.spinner {
  margin: auto;
}
