.form-root {
  padding: 24px;
  display: flex;
  justify-content: center;
}

mat-card {
  width: 640px;
}

.full {
  width: 100%;
  margin-bottom: 12px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 12px;
}
